%ol{:class=>"breadcrumb"}
  %li
    %a{:href=>"/"}
      = t :home
  %li
    %a{:href=>"#"}
      = t :sign_up
  
.row{:class => ""}
  .col-sm-6
    .page-header
      %h2
        %i{:class=>"fa fa-check-square-o"}
        Getting my Things Done
        %br
        %small
          web based project and task management
  .col-sm-6{:class => "pull-right"}
    .page-header
      %h2
        = t :sign_up
.row
  .col-sm-6
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
  .col-sm-6
    .form-group