.task
  %h5
    Task 2.1
    %span(class="task-menu")
      %a(class="toggle-nav fa fa-bars" href="javascript:$('#dialog').dialog('open');")
  %p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed d...
