
%h3(class="border")
  %i{:class=>"fa fa-check-square-o"}
  =t(:tasks)
#tasks
  - ["Eingang", "To Do", "In Arbeit", "Erledigt"].each do |column_title|
    -if column_title == "Erledigt" 
      .content-25-last
        %h4
          = column_title
        .column
    - else
      .content-25
        %h4
          = column_title
        .column
          -if column_title == "In Arbeit" 
            = react_component("TaskList")
            

