// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.font-bold-large {
    font-size: large;
    font-weight: bold;}
    
.font-bold {
    font-weight: bold;}
    
mark {
  color: #428bca;
  background: #fff;
}
    
#tag-cloud {
  margin-top:1em;
}

#tag-cloud  ul {
    list-style: none;
}

#tag-cloud  li {
    position: relative;
    display: block;
    float: left;
    margin-left: 8px;
    line-height:1.6em;
}