#tag-cloud {
  margin-top:1em;
}

#tag-cloud  ul {
    list-style: none;
}

#tag-cloud  li {
    position: relative;
    display: block;
    float: left;
    margin-left: 8px;
    line-height:1.6em;
}

.tc {
  margin: 0 2px 0 2px;
  
  &:hover {
    color: #000;
    text-decoration:none;
  }
}


.tc-xs a {
  @extend .tc ;
  color: #888;
  font-size: 1em;
}

.tc-md a{
  @extend .tc;
  color: #777;
  font-size: 1.2em;
}

.tc-lg a{
  @extend .tc;
  color: #666;
  font-size: 1.4em;
}

.tc-xl a{
  @extend .tc;
  color: #555;
  font-size: 1.8em;
}
