#footer
  .container
    .row
      %div{:class=>"col-xs-8 text-left"}
        %span
          %a{:href=>"#", 'data-toggle'=>"modal", 'data-target'=>"#AboutUs"}
            %i{:class=>"fa fa-info-circle"}
              = t :about_us
        %span
          %a{ :href=>"#", 'data-toggle'=>"modal", 'data-target'=>"#Impressum"}
            %i{:class=>"fa fa-legal"}
              = t :terms
        %span
          %a{ :href=>"#", 'data-toggle'=>"modal", 'data-target'=>"#Help"}
            %i{:class=>"fa fa-question-circle"}
              = t :help
              
      %div{:class=>"col-xs-4 text-right"}
        %i{:class=>"fa fa-copyright"}
          2016 - Bernd C. Toepfer
    
