#footer
  .container
    .row
      %div{:class=>"col-xs-5 text-left"}
        %span
          %a{:href=>"#", 'data-toggle'=>"modal", 'data-target'=>"#AboutUs"}
            %i{:class=>"fa fa-info-circle"}
              = t :about_us
        %span
          %a{ :href=>"#", 'data-toggle'=>"modal", 'data-target'=>"#terms"}
            %i{:class=>"fa fa-legal"}
              = t :terms
        %span
          %a{ :href=>"#", 'data-toggle'=>"modal", 'data-target'=>"#help"}
            %i{:class=>"fa fa-question-circle"}
              = t :help
            
      %div{:class=>"col-xs-2 text-center"}
        %i(class="fa fa-clock-o")
        =  l Date.today
      
      %div{:class=>"col-xs-5 text-right"}
        %i{:class=>"fa fa-copyright"}
          2016 - Bernd C. Toepfer