%form{:class=>"navbar-form navbar-right", :role=>'login'}
  .form-group{:class => "input-group-sm"}
    %input{:name => "username", :type =>"text", :placeholder=>"Username or Email", :class=>"form-control"}
  .form-group{:class => "input-group-sm"}
    %input{:name => "password", :type =>"text", :placeholder=>"Password", :class=>"form-control"}
  %button{:id => "Login", :type => "submit", :class=>"btn btn-primary btn-sm"}
    %i{:class=>"fa fa-user"}
    = "Log In"