
-unless flash.empty?
  #message(class="text-center")
    -flash.each do |name, msg| 
      -if msg.is_a?(String)
        %div{:class=>"alert alert-#{name == "notice" ? "success" : "danger"}"}
          %div{id:"flash_#{name}"}
            %i{:class=>"fa #{name == "notice" ? "fa-check" : "fa-times"}"}
            = msg
